
:root{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-image: url(https://i.postimg.cc/Mpq7P50X/360-F-526854857-FFbu7oodab-Yd-X5-Gae-Pa-E6-Vr-E0-I5x-Gz-YR.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}
.container{
    background-color: rgba(112, 161, 161, 0.562);
    width: 25rem;
    height: auto;
    margin: 20px 20px;    
    padding: 9px;
    font-size: 30px;
}

input{
    display: flex;
    height: 1.5rem;
    width: 15rem;
    font-size: 20px;
}
input:hover{
    background-color: rgba(66, 82, 82, 0.274);
}
button{
    font-size: 15px;
}
button:hover{
    background-color: cadetblue;
    transform: translateX(7px);
}